*{
    box-sizing: border-box;
    
}

body{

    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: 100vh;
    background-color: darkslategrey;
}

#mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

#sceneHeader{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100;
}

#sceneContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    width: 1000px;
    max-width: 80%;

    background-color: white;

    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}